.System-header {
    text-align: center;
    background: linear-gradient(180deg, #009CFF 0%, #DC257D 100%);
    height: 218px;
    border-radius: 0px 0px 18px 18px;
  }
  
.System-body {
  height: 600px;
  left: 0px;
  right: 0px;
  background: #E5E5E5;
}